<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>864507595610-h2tq0cu6nvlelmd6ckrp6nt1b0o23njq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.864507595610-h2tq0cu6nvlelmd6ckrp6nt1b0o23njq</string>
	<key>API_KEY</key>
	<string>AIzaSyDT9Sn5zmap7xvbzTFW_xLBo1uJsQMxFXg</string>
	<key>GCM_SENDER_ID</key>
	<string>864507595610</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.breastCancerApp</string>
	<key>PROJECT_ID</key>
	<string>breast-cancer-detection-app-01</string>
	<key>STORAGE_BUCKET</key>
	<string>breast-cancer-detection-app-01.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:864507595610:ios:72bfef4132330c6ced4163</string>
</dict>
</plist>